/* Font Install with Google Font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    background: #FD6E0A;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    height: 64px;
    border-radius: 5px;
    border: 0;
    padding: 18px 35px;
}
/* ===== Header Styles ===== */
.header {
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png'); 
    background-repeat: no-repeat;
    background-position: bottom right, left ;
    /* width: 1600px;
    height: 837px; */
    margin-top: -45px;
}

/* ===== Navigation Styles ===== */
nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}
.nav-title {
    font-weight: 800;
    font-size: 45px;
}
nav ul {
    display: flex;
    align-items: center;
}
nav li {
    list-style: none;
    margin-left: 50px;
}

/* ===== Banner Styles ===== */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}

.banner-sub-title {
    color: #474747;
    font-size: 45px;
    font-weight: 600;
}
.banner-title {
    color: #181818;
    font-size: 85px;
    font-weight: 700;
    margin-bottom: 20px;
}
.banner-description {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}

.button {
    display: flex;

}
.btn-white {
    background-color: #FFF8F3;
    margin-left: 5px;
    font-size: 20px;
    color: #FD6E0A;
    font-weight: 600;
    height: 64px;
    border-radius: 5px;
    border: 1px solid #FD6E0A;
    padding: 18px 35px;
}

/* ===== Main Section Styles ===== */

main {
    max-width: 1140px;
    margin: 0 auto;
}

/* ===== About Section Styles ===== */

.about {
    margin-top: 130px;
    padding: 130px 150px;
    text-align: center;
    max-height: 450px;
    border-radius: 10px;
    background: #FFF8F3;
}

.section-title {
    color: #181818;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 50px;
    text-align: center;
}

.section-description {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;

}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

/* .about-info {
    
} */

.info-title{
    font-size: 20px;
    font-weight: 400;
    color: #757575;
}
.info-description{
    font-size: 20px;
    font-weight: 700;
    color: #474747;
}

/* ===== What I do Styles ===== */

.what-i-do {
    margin-top: 130px;
}

.what-i-do > p {
    width: 909px;
    margin: 0 auto;
}

/* ===== What I do Styles Skill Sections ===== */

.skill-container {
    display: flex;
    gap: 24px;
    /* justify-content: space-around; */
    margin: 57px;
    color: #FFFFFF;

}

.skill {
    width: 267px;
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skill-title {
    margin-top: 30px;
    color: #181818;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

.skill-description {
    /* text-align: justify; */
    color: #757575;
    margin-top: 20px;
    font-size: 16px;
}

/* ===== Resume Styles ===== */
.resume-content {
    display: flex;
    gap: 24px; 
    align-content: space-around;
}

.resume-title{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
}

.resume-item{
    border-bottom: 1px solid#D1D1D1;
    width: 558px;
}

.resume-item:last-child{
    border: none;
}

.resume .title{
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 30px;
}

.resume .sub-title{
    font-size: 18px;
    font-weight: 600;
    color: #757575;
    margin-bottom: 20px;
}

.resume .description{
    color: #757575;
    margin-bottom: 30px;
}

.resume-btn {
    margin-top: 40px;
    text-align: center;
}

/* ===== Contact Styles ===== */
.footer {
    background: #FFF8F3;
    margin-top: 130px;
    
}
.footer-content {
    padding: 130px 230px;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
}
.footer-title {
    color: #181818;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 30px;
}

.footer-description {
    color: #474747;
    width: 562px;
    margin-bottom: 10px;
}

.footer-img > img {
    margin-right: 24px;
}

.footer-form input, textarea {
    margin-bottom: 20px;
    border: none;
    width: 100%;
    border-radius: 5px;
    padding: 10px 20px;
    color: #757575;
}
input {
    height: 44px;
}